@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background-color: #2d2d2d;
  --speech-box-background-collapsed: #1b1b1b;
  --speech-box-background-expanded: #1b1b1b;

  --dark-box-shadow: #313131;
  --light-box-shadow: #313131;

  --user-prompt-background: #0B93F6;
  --response-prompt-background: #E5E5EA;

  --record-button: #ff6768;
  --stop-record-button: #5f5f5f;

  p, a {
    color: #f8f8f8;
  }
}

:root.darkMode {
  --test-var: #006fff;
  transition: 0.3s;

  --background-color: #f0f0f0;
  --speech-box-background-collapsed: #f8f8f8;
  --speech-box-background-expanded: #fafafa;

  --dark-box-shadow: #cccccc;
  --light-box-shadow: #ffffff;

  --user-prompt-background: #0B93F6;
  --response-prompt-background: #E5E5EA;

  --record-button: #da6a4e;
  --stop-record-button: #767676;

  p, a {
    color: black;
  }
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;

    .textContainer {
      margin-top: 60px;
      height: 200px;
      transition: 0.8s;

      .introText {
        opacity: 0.8;
        margin-bottom: 6px;
        transition: 0.3s;
        max-width: 600px;
        text-align: center;
      }
    }

    .footer {
      position: absolute;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-top: 6px;
        margin-bottom: 6px;
      }
      
      hr {
        border: none;
        height: 1px;
        background-color: #f0f0f0;
        width: 70vw;
      }

      .footerLinks {
        a {
          text-decoration: none;
          font-size: 12px;
        }
        a + a {
          margin-left: 5px;
        }
      }
    }

    &.speechBoxExpanded {
      .textContainer {
        height: 0;

        .introText {
          // height: 0;
          opacity: 0;

        }
      }
    }
  }

  .button {
    background-color: var(--test-var);
  }

.switch {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 17px;
  top: 30px;
  right: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2d2d2d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2d2d2d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
