body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #f0f0f0;
}


:root {
  --test-var: #006fff;
}

.button {
  background-color: var(--test-var);
}
