.container {
  display: flex;
  margin-top: 10px;

  .record {
    margin-right: 10px;
  }

  .record, .stopRecord {
    outline: none;
    border-radius: 50%;
    border: 1.5px solid lightgrey;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    .innerRecord {
      width: 12px;
      height: 12px;
      background-color: #da6a4e;
      border-radius: 50%;

      &.isRecording {
        animation: blinker 1s linear infinite;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
    }

    .innerStopRecord {
      width: 12px;
      height: 12px;
      background-color: lightgrey;
    }
  }
}
