.container {
  box-sizing: border-box;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  padding: 8px 10px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid transparent;
  overflow: scroll;

  transition: height 1s ease, width 1s ease 0.8s, box-shadow 0.1s, border 0.3s;

  .buttonsContainer {
    * {
      transition: opacity 1s linear 1.4s;
      opacity: 0;
    }
  }

  &:hover {
    border: 1px solid #cccccc;
  }

  &:active {
    box-shadow:  0 0 0 #cccccc,
      0 0 0 #ffffff,
      10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }

  &.isExpanded {
    width: 480px;
    height: 240px;
    background: #fafafa;
    box-shadow:  40px 40px 40px #cccccc,
      0 0 0 #ffffff,
      0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;

    .buttonsContainer {
      * {
        opacity: 1;
      }
    }

    &:hover {
      border: 1px solid transparent;
    }
  }
}
