.container {
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 40px;
  width: 60px;
  height: 60px;
  padding: 8px 10px;
  background: var(--speech-box-background-collapsed);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid transparent;
  overflow: scroll;
  transition: height 1s ease, width 1s ease 0.8s, box-shadow 0.1s, border 0.3s;

  .buttonsContainer {
    * {
      transition: opacity 1s linear 1.4s;
      opacity: 0;
    }
  }

  &:hover {
    // NOTE: rename variable
    border: 1px solid var(--dark-box-shadow);
  }

  &:active {
    box-shadow:  0 0 0 var(--dark-box-shadow),
      0 0 0 var(--light-box-shadow),
      10px 10px 10px var(--dark-box-shadow) inset,
      -10px -10px 10px var(--light-box-shadow) inset;
  }

  &.isExpanded {
    width: 350px;
    height: 400px;
    background: var(--speech-box-background-expanded);
    box-shadow:  40px 40px 40px var(--dark-box-shadow),
      0 0 0 var(--light-box-shadow),
      0 0 0 var(--dark-box-shadow) inset,
      2px 2px 2px var(--light-box-shadow) inset;

    .buttonsContainer {
      * {
        opacity: 1;
      }
    }

    &:hover {
      border: 1px solid transparent;
    }
  }
}
